* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

h1 {
  text-align: center;
  line-height: 100px;
  background-color: #cf5c36;
  color: black;
  height: 100px;
  font-size: 3vw;
}

ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #050517;
  padding: 1rem;
}

ul li {
  padding: 1rem;
  list-style: none;
}

li a {
  color: White;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

img {
  width: 130px;
}

main {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "main1 main3"
    "main2 main3";
  grid-column-gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#section-1 h2 {
  background-color: #f4e3b2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section-3 h2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h2 {
  background-color: #f4e3b2;
}

.card {
  text-align: center;
  border: solid;
}

.about-me-and-country {
  display: flex;
  height: 90%;
  align-items: center;
}

.about-me-and-country p {
  padding: 2rem;
  font-size: 1.4vw;
}

.about-me-and-country img {
  margin-left: 1rem;
  margin-right: 1rem;
}

#section-1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  grid-area: main1;
}

#section-2 {
  grid-area: main2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#section-3 {
  grid-area: main3;
  border-radius: 20px;
}

.links-div {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}

footer {
  background-color: #cf5c36;
  color: black;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .about-me-and-country {
    display: block;
  }
  #peruflag {
    margin-top: 1rem;
  }
  img {
    height: 135;
  }
}
